<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Code Read</title>
</head>
<body>
<h2>Code Read</h2>
    <form action="#" th:action="@{/coderead}" th:object="${code}" method="post">
    	<p>Codes: <input type="text" th:field="*{entityCode}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
    	<h1>Result</h1>
    <p th:text="'Codes to process: ' + ${code.entityCode}" />
</body>
</html>